    h1 {
    color: #0097B2; font-family:"Philosopher", sans-serif; font-size: 30pt; line-height: 0.7;
     padding: 9px;
}


    .fac {
        color: #0097B2; font-size: 15pt; 
    }

    .bev1 {
    width: auto;
    height: auto;
    margin: 50pt;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

    s2 {
    color: #0097B2; font-family:"Philosopher", sans-serif; font-size: 25pt; font-weight: bolder; border-bottom: 2px solid #0097B2;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

    .tulogo {
        width: 50px;
        height: 50px;
    }

    .text {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #0097B2;
      font-size: 40px; font-weight: bold; font-family: "Philosopher", sans-serif ;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    }