
    h1 {
    color: #0097B2; font-family: "Philosopher", sans-serif ; font-size: 30pt; line-height: 0.7;
     padding: 9px;
}


    .fac {
        color: #0097B2; font-size: 15pt; 
    }

    .bev1 {
    width: auto;
    height: auto;
    margin: 50pt;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

    s2 {
    color: #0097B2; font-family:"Philosopher", sans-serif; font-size: 25pt; font-weight: bolder;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

    .tulogo {
        width: 50px;
        height: 50px;
    }

    .text {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #0097B2;
      font-size: 40px; font-weight: bold; font-family: "Philosopher", sans-serif ;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
    }

    .puey {
    width: 1633px;
    height: 627px;
    margin: 50pt;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    transition: filter 0.3s ease ;
    }

    .puey:hover {
        filter: blur(10px);
    }

    .nai {
        color: #0097B2; text-decoration: none; transition: border-bottom 0.1s ease; font-size: 23pt;
    }

    .nai:hover {
        color: #0097B2 ;border-bottom: 3px solid #0097B2 ;
    }

    .q1 {
        color: @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');; font-family: "Philosopher", sans-serif ; text-align: center; font-size: 25px;
    }

    .alum {
        width: 263px;
        height: 328px;
        border-radius: 30px;
        margin: auto;
        padding-left: 100px;
        padding-right: 100px;
    }

    .alumname {
        color: #0097B2; font-family: "Philosopher", sans-serif ; text-align: center; font-size: 17px; font-weight: bolder;
    }

    .alumdet {
        color: #0097B2; font-family: "Philosopher", sans-serif ; text-align: center; font-size: 12px; padding-top: 30px;
    }
    
    .tabalum {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    }