@import url('https://fonts.cdnfonts.com/css/futura-std-4');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Anuphan"; letter-spacing: 0.07rem;
}

.intro-screen {
    position: fixed;
    inset: 0;
    background-image: url(resource/puey4.jpg);
    background-size: cover;
        /* ครอบเต็มพื้นที่ */
        background-position: center;
        /* จัดภาพกลาง */
        background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.intro-content {
    text-align: center;
    color: white;
}

.intro-content h1 {
    letter-spacing: 4px; font-family: 'Urbanist', sans-serif;
}

.intro-content span {
    color: #c3002f;
}

.enter-btn {
    padding: 14px 40px; font-family: 'Urbanist', sans-serif;
    border: 1px solid rgb(133, 133, 133);
    background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(5rem);
    color: white; border-radius: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.enter-btn:hover {
    background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(1rem);
}

/* ซ่อน intro */
.intro-screen.hide {
    opacity: 0;
    visibility: hidden;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url(resource/puey9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.hero p1 {
    color: #ffffff;letter-spacing: 3px;
    font-weight: bolder; font-family: 'Urbanist', sans-serif; font-weight: 600;
}

.hero span {
    font-size: 2.5rem; text-align: center; display: block; color: #c3002f; font-weight: 600;
}

.content {
    position: relative;
    background: #ffffff;
    margin-top: -40px;
    z-index: 2;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    padding: 3rem 2rem;
}

.content img {
    height: auto;
    width: 55vw;
}

.degree {
    position: relative;
    background: rgb(255, 255, 255);
    z-index: 3;
    min-height: 7vh;
}

h2 {
    margin-bottom: 1rem; 
}

p {
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #000000;
}

.site-header {
    position: fixed;
    font-family: 'Urbanist', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 10;
    background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0)
); transition: background 0.9s ease;
}

.site-header.scrolled {
    background: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03) ;
}

.site-header.scrolled .nav a {
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1.5rem;
    position: relative;
    transition: all 0.9s ease;
}

.site-header.scrolled .nav a::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 4px;
    width: 0;
    height: 1px;
    background-color: #c3002f;
    transition: all 0.4s ease;
    transform: translateX(0%);
}

.site-header.scrolled .nav a:hover::after {
    width: 100%;
}

.site-header.scrolled .logo {
    line-height: 0.7;
}

.site-header.scrolled .logo a {
    color: #c3002f;
    text-decoration: none;
}

.site-header.scrolled .logo a span {
    color: #D1D5DB;
    text-decoration: none;
}

.site-header.scrolled .logotu {
    color: #008080;
    font-family: "Urbanist", sans-serif;
}

.nav a {
    color: white;
    font-family: "Urbanist", sans-serif; padding-top: 5px; padding-bottom: 5px;
    text-decoration: none;
    margin-left: 1.5rem;
    position: relative;
    transition: all 0.4s ease;
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 4px;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.4s ease;
    transform: translateX(0%);
}

.nav a:hover::after {
    width: 100%;
}

.logo {
    font-size: 3rem; line-height: 0.7; font-weight: 600; letter-spacing: 2.5px; 
}

.logo a {
    color: #ffffff; text-decoration: none;
}

.logo a span {
    color: #c3002f; position: relative;
    text-decoration: none;
}

.logotu {
    font-size: 1rem; font-family: "Urbanist", sans-serif;
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
}

@media (max-width: 1250px) {

     .site-header {
        position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
    }

    .site-header.scrolled .menu-toggle span {
        background: #b7b7b7;
    }

    .menu-toggle {
        display: flex;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
    }

    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s ease;
    }

    .nav a {
        color: #000000;
        padding: 1rem 0;
        margin: 0;
    }

    .nav.active {
        max-height: 400px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.f {
    height: 92vh;
    position: relative;
    overflow: hidden;
}

/* วิดีโอพื้นหลัง */
.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

/* รูป b */
.float-up {
  position: absolute;
  bottom: -92vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 0.5s; /* รอวงกลมก่อน */
  z-index: 2;
}

/* วงกลมขยายขึ้น */
@keyframes circleUp {
  to {
    transform: translateX(-50%) scale(1);
    bottom: -100vmax;
  }
}

/* ภาพ b เลื่อนขึ้น */
@keyframes slideUp {
  to {
    bottom: 0;
  }
}

.content h2 {
    font-family: 'Urbanist', sans-serif; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); font-weight: 500; letter-spacing: 2px;
}

p1 {
    font-family: "Urbanist", sans-serif;
    display: block; line-height: 1.9;
}

.tabbac {
    font-family: "Urbanist", sans-serif; background-color:#f7f7f7 ;
  font-weight: 200; letter-spacing: 2px;
    margin: auto;
    border-collapse: collapse;
    position: relative;
}

.tabbac a {
    color: #000000; text-decoration: none; transition: all 0.4s ease; position: relative;
}

.tabbac a::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -10%;
    width: 0;
    height: 1px;
    
    background-color: #c3002f;
    transition: all 0.4s ease;
    transform: translateX(0%);
}

.tabbac a:hover {
    color: #c3002f; transition: 0s ease;
}

.tabbac a:hover::after {
    width: 100%;
}

.content2 {
    position: relative;
    height: 70vh;
    overflow: hidden;
    color: #fff;
}

.content2 .bg {
    position: absolute;
    inset: 0;
    background-image: url(resource/puey3.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(0);
    z-index: -1;
}

.content2 .content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}
.content1 {
    background-color: #fcfcfc; min-height: 50%; font-family: "Urbanist", sans-serif; letter-spacing: 1.9px;
}

.register-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* FORM CARD */
.register-card {
    position: relative; font-family: 'Futura Std', sans-serif;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2.5rem);
    border-radius: 2rem;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
}

/* FORM STYLE */
.form-group {
    display: flex; color: #ffffff;
    flex-direction: column;
    margin-bottom: 2rem;
}

label {
    font-size: 1rem;
    margin-bottom: 6px;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

button {
    width: 100%; letter-spacing: 2px;
    padding: 14px;
    border: none;
    background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(1rem);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footer {
    background: #ffffff;
    padding: 50px 20px 30px;
    font-family: 'Urbanist', Tahoma, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer h2 {
    letter-spacing: 0.2rem; color: #c3002f;
}

.footer h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-left: 3px solid #c3002f;
    padding-left: 0.5rem;
}
.footer a {
    color: #000000; font-family: "Noto Sans Thai", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #c3002f;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 0.5rem;
}

/* ===== Bottom Bar ===== */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid rgba(195, 0, 47, 0.3);
    font-size: 13px;
    opacity: 0.85;
}